
<div class="mainContainer">
  <input type="text" place-holder="Please Enter Value" id="box1"/>
  <input type="text" place-holder="Please Enter Value" id="box2"/>
  <input type="text" place-holder="Please Enter Value" id="box3"/>
  <select name = "country">
    <option value="country1">country1</option>
    <option value="country2">country2</option>
    <option value="country3">country3</option>
    <option value="country4">country4</option>
    <option value="country5">country5</option>
    <option value="country6">country6</option>
  </select>
</div>
