 <form action="" class="formForReg form-horizontal col-sm-11" id="formReg" name="registrationForm">
      <div class="form-group">
        <label for="firstName" class="col-xs-2">First Name</label>
        <div class="col-sm-6"><input type="text" class="form-control" id="firstName" data-model = "firstName"/></div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-xs-2">Last Name</label>
        <div class="col-sm-6"><input type="text" class="form-control" id="lastName" data-model = "lastName"/></div>
      </div>
      <div class="form-group">
        <label for="address" class="col-xs-2">Address</label>
        <div class="col-sm-6"><input type="text" class="form-control" id="address" data-model = "address"/></div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-xs-2">Salary</label>
        <div class="col-sm-6"><input type="text" class="form-control" id="salary" data-model = "salary"/></div>
      </div>
      <div class="form-group">
        <label for="acc_no" class="col-xs-2">Account_No</label>
        <div class="col-sm-6"><input type="text" class="form-control" id="acc_no" data-model="acc_no"/></div>
      </div>
      <div class="form-group">
         <label for="company" class="col-xs-2">Company Name</label>
         <div class="col-sm-6"><input type="text" class="form-control" id="company" data-model="company"/></div>
      </div>
      <div class="buttonContainer col-sm-10">
        <span class="col-sm-4"></span>
        <button type = "button" class="submitButton btn btn-sm btn-success col-sm-1" id="submitButton" ng-click = "submitForm()">submit</button>
        <span class="col-sm-1"></span>
        <button type = "button" class="resetButton btn btn-sm btn-danger col-sm-1" id="resetButton" ng-click="resetForm()">Reset</button>
      </div>
      </div>
    </div>
 </form>

